
py/__pycache__

# Compiled class files
java/**/*.class

# Log files
java/**/*.log

# BlueJ files
java/**/*.ctxt

# Mobile Tools for Java (J2ME)
java/.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.classpath
.project
.settings/
bin/

# Maven
target/

# Gradle
.gradle/
build/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
*.nb-gradle/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Other IDE files
*.swp
*~
